
.section1{
    background-color: white;
}
.section1 .hero-carousel__media{
    height: 100%;
    width: 100vw;
}
.section2-1{
    margin-top: 5.208vw;
}
.section2-1 .section2-p-box{
    text-align: center;
    font-size: 2.5vw;
    height: 3.333vw;
    /* width:  22.187vw; */
    line-height:1.5;
    margin: 0 auto;
}
.section2-1 .section2-p-but{
    width: 6.25vw;
    height:0.104vw;
    background-color: #00B2A9;
    margin: 1.979vw auto 0 auto;
}
.section2-1 .section2-box{
    /* height: 39.843vw; */
    width: 79.166vw;
    background-color: #FBFCFC;
    margin: 4.166vw auto 0 auto;
    padding:8.333vw 3.125vw 8.333vw 3.125vw;

}
.section2-1 .section2-child-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0  1.041vw;;
}
.section2-1 .section2-child{
    height: 13.645vw;
    width: 22.187vw;
    background-color: #fff;
    padding: 2.083vw;
}
.section2-1 .section2-child img{
    height: 3.333333vw;
    width: 3.333333vw;
}
.section2-1 .section2-child .section2-child-p1{
    height: 1.666vw;
    width: 100%;
    margin: 1.041vw 0 1.77vw 0;
   line-height:1.5;
    font-size: 1.25vw;
}
.section2-1 .section2-child .section2-child-p2{
    height: 1.666vw;
    width: 100%;
    text-align: right;
    margin: 0;
}
.section2-1 .section2-child-span{
    display: inline-block;
    height: 1.666vw;
    width: 1.666vw;
    border-radius: 50%;
    color: #CCCCCC;
    margin-right: 0.468vw;
    background-image: url(../images/pc/arrow.svg);
    background-size: 100% 100%;
}

.section2-2{
    margin-top:5.208vw;
}
.section2-2 .row1{
    margin-top: 1.041vw;
}
.section2-2 .section2-p-box{
    text-align: center;
    font-size: 2.5vw;
    height: 3.333vw;
    /* width:  22.187vw; */
   line-height:1.5;
    margin: 0 auto;
}
.section2-2 .section2-p-but{
    width: 6.25vw;
    height:0.104vw;
    background-color: #00B2A9;
    margin: 1.979vw auto 0 auto;
}
.section2-2 .section2-box{
    width: 79.166vw;
    background-color: #FBFCFC;
    margin: 4.166vw auto 0 auto;
    padding:4.166vw 14.322vw 4.166vw 14.322vw;

}
.section2-2 .section2-child-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.section2-2 .section2-child{
    height: 13.645vw;
    width: 22.187vw;
    background-color: #fff;
    padding: 2.083vw;
}
.section2-2 .section2-child img{
    height: 3.333333vw;
    width: 3.333333vw;
}
.section2-2 .section2-child .section2-child-p1{
    height: 1.666vw;
    width: 100%;
    margin: 1.041vw 0 1.77vw 0;
   line-height:1.5;
    font-size: 1.25vw;
}
.section2-2 .section2-child .section2-child-p2{
    height: 1.666vw;
    width: 100%;
    text-align: right;
    margin: 0;
}
.section2-2 .section2-child-span{
    display: inline-block;
    height: 1.666vw;
    width: 1.666vw;
    border-radius: 50%;
    color:#CCCCCC;
    margin-right: 0.468vw;
    background-image: url(../images/pc/arrow.svg);
    background-size: 100% 100%;
}


.section2-3{
    margin-top: 5.208vw;
}
.section2-3 .row1{
    margin-top: 1.041vw;
}
.section2-3 .section2-p-box{
    text-align: center;
    font-size: 2.5vw;
    height: 3.333vw;
    /* width: 22.187vw; */
   line-height:1.5;
    margin: 0 auto;
}
.section2-3 .section2-p-but{
    width: 6.25vw;
    height:0.104vw;
    background-color: #00B2A9;
    margin: 1.979vw auto 0 auto;
}
.section2-3 .section2-box{
    width: 79.166vw;
    background-color: #FBFCFC;
    margin: 4.166vw auto 0 auto;
    padding:4.166vw 3.177vw 4.166vw 3.177vw;

}
.section2-3 .section2-child-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.section2-3 .section2-child{
    height: 13.645vw;
    width: 22.187vw;
    background-color: #fff;
    padding: 2.083vw;
}
.section2-3 .section2-child img{
    height: 3.333333vw;
    width: 3.333333vw;
}
.section2-3 .section2-child .section2-child-p1{
    height: 1.666vw;
    width: 100%;
    margin: 1.041vw 0 1.77vw 0;
   line-height:1.5;
    font-size: 1.25vw;
}
.section2-3 .section2-child .section2-child-p2{
    height: 1.666vw;
    width: 100%;
    text-align: right;
    margin: 0;
}
.section2-3 .section2-child-span{
    display: inline-block;
    height: 1.666vw;
    width: 1.666vw;
    border-radius: 50%;
    color:#CCCCCC;
    margin-right: 0.468vw;
    background-image: url(../images/pc/arrow.svg);
    background-size: 100% 100%;
}
.row{
    margin: 0;
}

.section2-child:hover .section2-child-span{
    background-image: url(../images/pc/arrow_green.svg);
    background-size: 100% 100%;
    }
    
.section2-child:hover{
    box-shadow: 2px 10px 12px rgb(0 178 169 / 15%);
    transform: scale(1.02);
    transition: 0.5s;
    cursor: pointer;
}
.section3{
    margin-top: 5.208vw;
}
.section3 .section3-p-box{
    text-align: center;
    font-size: 2.5vw;
    height: 3.333vw;
    width: 22.187vw;
   line-height:1.5;
    margin: 0 auto;
}
.section3 .section3-p-but{
    width: 6.25vw;
    height:0.104vw;
    background-color: #00B2A9;
    margin: 1.979vw auto 0 auto;
}
.section3 .section3-box{
    height:51.041vw;
    background-color: #F6F7F8;
    margin: 4.166vw auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.section3 .section3-left{
    display: inline-block;
    height: 100%;
    width: 50vw;
    padding: 3.645vw 0;
}
.section3 .section3-right{
    display: flex;
    height: 100%;
    width: 50vw;
    align-items: center;
}
.section3 .section3-ul{
    margin: 0;
    padding: 0;
    margin-left: 10.416vw;
}
.section3 .section3-li{
    list-style: none;
    width: 35vw;
    margin: 1.562vw 0;
    background-color: white;
}
.section3 .section3-ul1{
    margin: 0;
    padding: 0;
    margin-left: 1.666vw;
    font-size: 1.041vw;
    /* padding-bottom: 8.8vw; */
}
.section3 .section3-li1{
    list-style: none;
    height: 1.77vw;
    line-height:1.5;
    font-size: 1.041vw;
    cursor: pointer;
}
.section3 .section3-span{
    display: inline-block;
    height: 0.3125vw;
    width: 0.3125vw;
    border-radius: 50%;
    margin-bottom: 0.104vw;
    margin-right: 1.041vw;
    color:#CCCCCC;
}
.section3 .section3-li .svg{
    height: 3.645vw;
    width: 3.645vw;
    background-image: url(../images/pc/FAQ.svg);
    background-size: 100% 100%;
}
.section3 .section3-li .svgtoo{
  
    background-image: url(../images/pc/faq1.svg);
}
.section3 .section3-li .section3-li-p{
   line-height:1.5;
    font-size: 1.25vw;
    margin: 0;
    width: 100%;
    padding-left: 2.083vw;
}
.section3 .section3-li .section-li-span{
    display: block;
    height: 1.666vw;
    width: 1.666vw;
    border-radius: 50%;
    color:#CCCCCC;
    background-image: url(../images/pc/arrow.svg);
    background-size: 100% 100%;
}
.section3 .section3-li p{
    margin: 0;
    padding: 0;
}
.section3 .section3-li-pbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.083vw;
    height: 6.875vw;
}

.section3 .active3{
    box-shadow: 2px 10px 12px rgb(0 178 169 / 15%);
    transform: scale(1.02);
}

.section3 .section3-li:hover{
    box-shadow: 2px 10px 12px rgb(0 178 169 / 15%);
    transform: scale(1.02);
    transition: 0.5s;
    cursor: pointer;
}
.section3 .section3-li .activebg{
    background-image: url(../images/pc/arrow_green.svg);
}


.section3 .section3-li:hover .section-li-span{
    background-image: url(../images/pc/arrow_green.svg);
}

.section3-li-list{
    display: none;
}

.section4{
    margin-top: 5.208vw;
    margin-bottom: 5.208vw;
}
.section4 .section4-p-box{
    text-align: center;
    font-size: 2.5vw;
    height: 3.333vw;
    width: 22.187vw;
   line-height:1.5;
    margin: 0 auto;
}
.section4 .section4-p-but{
    width: 6.25vw;
    height:0.104vw;
    background-color: #00B2A9;
    margin:1.979vw auto 0 auto;
}
.section4 .section4-box{
    height:21.614vw;
    width: 79.166vw;
    background-color: #F6F7F8;
    margin: 4.166vw auto 0 auto;
    text-align: center;
    padding: 7.187vw 3.593vw 7.291vw 3.593vw ;
    background-image: url(../images/pc/bg.png);
    background-size: 100% 100%;
}
.section4 .section4-child{
    height: 7.135vw;
    width: 21.875vw;
    margin: 0 1.041vw;
}
.section4 .section4-p1{
    height: 3.177vw;
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 0 2.083vw;
}
.section4 .section4-p2{
    height: 3.958vw;
    width: 100%;
    padding: 0 2.083vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.section4 .section4-span1{
    display: inline-block;
    height: 1.666vw;
   line-height:1.5;
    font-size: 1.25vw;
    transform: translateY(-0.208vw);
}
.section4 .section4-span2{
    display: inline-block;
    height:0.625vw;
    width: 0.625vw;
    border-radius: 50%;
    color:#CCCCCC;
    background-image: url(../images/pc/arrow.svg);
    background-size: 100% 100%;
}
.section4 .section4-title{
    display: inline-block;
    font-size: 1.25vw;
    height: 1.666vw;
   line-height:1.5;
    margin-left: 1.041vw;
}
.section4 .section4-p1 img{
    vertical-align: top;
    height: 1.666vw;
    width: 1.666vw;
}
.section4 .section4-p2:hover{
    box-shadow: 2px 10px 12px rgb(0 178 169 / 15%);
    transform: scale(1.02);
    transition: 0.5s;
    cursor: pointer;
}
.section4 .section4-p2:hover .section4-span2{
    background-image: url(../images/pc/arrow_green.svg);
}

.section4 a{
    text-decoration: none;
    color: black;
}
.section4 a:hover{
    text-decoration: none;
    color: black;
}
.Popup{
    width: 49.583vw;
}
.Popup-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.604vw 2.604vw;
}
.Popup-box{
    width: 13.75vw;
    height: 15.833333vw;
    border: 1px #CCCCCC solid;
}
.modal-footer{
    border: 0;
}
.Popup-img{
    height: 8.333vw;
    width: 100%;
    overflow: hidden;
}
.Popup-img img{
    display: block;
    width: 5vw;
    height: 6.5625vw;
    margin: 0.885vw auto;
}
.Popup-name{
    height: 1.40625vw;
    width: 100%;
    margin: 1.5625vw auto;
    font-size: 1.041vw;
    line-height: 1.5;
    text-indent: 1.041vw;
}
.Popup-btn{
    width: 5.15625vw;
    height: 1.666vw;
    border-radius: 0.833vw;
    font-size: 0.729vw;
    line-height: 1.666vw;
    background-color: #00B2A9;
    color: white;
    text-align: center;
    margin-left: 1.041vw;
}
.modal-footer{
    padding: 2.083vw;
}
.modal-footer svg{
    height: 2.5vw;
    width: 2.5vw;
    color: white;
}

.Popup-box:hover{
    border: 1px solid #00B2A9;
}
.Popup-box:hover .Popup-btn{
   background-color:  #00726E;
   cursor: pointer;
}

@media screen and (max-width:768px) {
    .section2-1 .section2-p-box{
        height: 8.533vw;
    line-height:1.5;
    font-size: 6.4vw;
    }
    .section2-1 .section2-p-but{
        width: 17.066vw;
    height: 0.266vw;
    margin-top: 6.4vw;
    }
    .section2-1 .section2-box{
        width: 87.2vw;
    margin: 10.666vw auto 0 auto;
    padding: 8.533vw 8vw 8.533vw 8vw;
    }
    .section2-1 .section2-child-box{
        padding: 2.666vw 0;
    }
    .section2-1 .section2-child{
        width: 100%;
    height: 36.266vw;
    padding: 5.333vw 6.4vw;
    }
    .section2-1 .section2-child img{
        height: 9.6vw;
        width: 9.6vw;
    }
    .section2-1 .section2-child .section2-child-p1{
        height: 5.6vw;
        line-height:1.5;
        font-size: 4.266vw;
        margin: 2.666vw 0 3.466vw 0;
    }
    .section2-1 .section2-child .section2-child-p2{
        height: 4.266667vw;
    }
    .section2-1 .section2-child-span{
        width: 4.266vw;
        height: 4.266vw;
        margin-right: 0;
    }

    .section2-2 .section2-p-box{
        height: 8.533vw;
    line-height:1.5;
    font-size: 6.4vw;
    }
    .section2-2 .section2-p-but{
        width: 17.066vw;
    height: 0.266vw;
    margin-top: 6.4vw;
    }
    .section2-2 .section2-box{
        width: 87.2vw;
    margin: 10.666vw auto 0 auto;
    padding: 8.533vw 8vw 8.533vw 8vw;
    }
    .section2-2 .section2-child-box{
        padding: 2.666vw 0;
    }
    .section2-2 .section2-child{
        width: 100%;
    height: 36.266vw;
    padding: 5.333vw 6.4vw;
    }
    .section2-2 .section2-child img{
        height: 9.6vw;
        width: 9.6vw;
    }
    .section2-2 .section2-child .section2-child-p1{
        height: 5.6vw;
        line-height:1.5;
        font-size: 4.266vw;
        margin: 2.666vw 0 3.466vw 0;
    }
    .section2-2 .section2-child .section2-child-p2{
        height: 4.266667vw;
    }
    .section2-2 .section2-child-span{
        width: 4.266vw;
        height: 4.266vw;
        margin-right: 0;
    }
    

    .section2-3 .section2-p-box{
        height: 8.533vw;
    line-height:1.5;
    font-size: 6.4vw;
    }
    .section2-3 .section2-p-but{
        width: 17.066vw;
    height: 0.266vw;
    margin-top: 6.4vw;
    }
    .section2-3 .section2-box{
        width: 87.2vw;
    margin: 10.666vw auto 0 auto;
    padding: 8.533vw 8vw 8.533vw 8vw;
    }
    .section2-3 .section2-child-box{
        padding: 2.666vw 0;
    }
    .section2-3 .section2-child{
        width: 100%;
    height: 36.266vw;
    padding: 5.333vw 6.4vw;
    }
    .section2-3 .section2-child img{
        height: 9.6vw;
        width: 9.6vw;
    }
    .section2-3 .section2-child .section2-child-p1{
        height: 5.6vw;
        line-height:1.5;
        font-size: 4.266vw;
        margin: 2.666vw 0 3.466vw 0;
    }
    .section2-3 .section2-child .section2-child-p2{
        height: 4.266667vw;
    }
    .section2-3 .section2-child-span{
        width: 4.266vw;
        height: 4.266vw;
        margin-right: 0;
    }

    .section3 .section3-p-box{
        height: 8.533vw;
    line-height:1.5;
    font-size: 6.4vw;
    }
    .section3 .section3-p-but{
        width: 17.066vw;
    height: 0.266vw;
    margin-top: 6.4vw;
    }
    .section3 .section3-right{
        display: none;
    }
    .section3 .section3-box{
        margin: 10.666vw auto 0 auto;
    height: auto;
    display: block;
    justify-content: center;
    }
    .section3 .section3-left{
        padding: 10.666vw 6.4vw;
        display: block;
        width: 100%;
    }
    .section3 .section3-ul{
        margin: 0;
    }
 
    .section3 .section3-li{
        width: 100%;
        margin: 5.333vw 0;
    }
    .section3 .section3-li .svg{
        height: 8.533vw;
        width: 8.533vw;
       
    }
    .section3 .section3-li .section3-li-p{
        font-size: 3.733vw;
    line-height:1.5;
    padding-left: 4vw;
    }
    .section3 .section3-li .section-li-span{
        height: 4.266vw;
    width: 4.266vw;
    }

    .section3 .section3-li-list{
        align-items: center;
        padding: 0 5.333vw 0 5.333vw;
        font-size: 3.466667vw;
        display: none;
    }
    .section3 .section3-li-pbox{
        padding: 0 5.333vw; 
        height: 19.2vw;
    }
    .section3 .section3-li .section3-ul1{
        padding-bottom: 8.8vw;
    }
    .section3 .section3-li .section3-br{
        width: 74.533vw;
        margin: 0 auto 5.333vw;
        height: 0.266667vw;
        background-color: #CCCCCC; 
    }
    .section3 .active{
        width: 100%;
        height: auto;
        background-color: white;
        box-shadow: 2px 10px 12px rgb(0 178 169 / 15%);
        }
        .section3-li-list .section3-li1{
            height: auto;
            line-height: 1.5;
            font-size: 3.466vw;
        }
        .section3-li-list .section3-li1 .section3-span{
            height: 1.066vw;
            width: 1.066vw;
            margin-right: 2.666vw;
        }





    .section4 .section4-p-box{
        height: 8.533vw;
        width: 100%;
    line-height:1.5;
    font-size: 6.4vw;
    }
    .section4 .section4-p-but{
        width: 17.066vw;
    height: 0.266vw;
    margin-top: 6.4vw;
    }
    .section4 .section4-box{
        height: auto;
        width: 87.2vw;
        margin-top: 10.666vw;
        padding: 5.6vw 8.533vw;
    }

    .section4 .section4-child{
        width: 100%;
        height: 25.6vw;
        margin: 4vw 0;
    }
    .section4 .section4-p1{
        height: 10.666vw;
        padding: 0 5.333vw;
    }
    .section4 .section4-title{
        height: 5.6vw;
    line-height:1.5;
    font-size: 4.266vw;
    margin-left: 2.666vw;
    }
    .section4 .section4-p2{
        height: 14.933vw;
    padding: 0 5.333vw;
    }
    .section4 .section4-span1{
        height: 5.066vw;
    line-height:1.5;
    font-size: 3.733vw;
    transform: translateY(-0.8vw);
    }
    .section4 .section4-span2{
        height: 3.2vw;
        width: 3.2vw;
    }
    .section4 .section4-p1 img{
        height: 5.333vw;
        width: 5.333vw;
    }



}
p{
    margin: 0;
}