.faq-container {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}
.top-banner-content {
  background-image: url("../images/FAQ-sc-1-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23.958vw;
  flex-direction: column;
}
.top-banner-text {
  line-height: 1.5;
  font-size: 2.5vw;
}
.top-banner-content hr {
  width: 5.208vw;
  height: 0.104vw;
}
.question-type {
  margin: 4.427vw 8.895vw 5.208vw 8.895vw;
}
.question-type-box-content {
  width: 14.479vw;
  height: 9.375vw;
  display: flex;
  background-image: url("../images/FAQ-sc-2-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0.781vw;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.question-type-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.25vw;
  margin-top: 3.45vw;
}
.question-type-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.385vw;
}
.question-type-bird img {
  width: 2.396vw;
}
.question-type-box-content .green-brid {
  display: none;
}
.question-type-box .question-type-text {
  margin-left: 1.041vw;
  text-decoration: underline;
  font-size: 1.041vw;
  width: 7.916vw;
  line-height: 1.5;
}
.question-type-pages {
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-type-page-content {
  color: #fff;
  background-color: #cccccc;
  text-align: center;
  vertical-align: top;
  padding: 0 0.625vw 0.208vw 0.625vw;
  font-size: 1.25vw;
  line-height: 1.5;
  margin: 0 1.041vw;
  cursor: pointer;
}
.question-type-page-content.actived {
  background-color: #000;
  cursor: inherit;
}
.question-type-actived-arrow {
  display: none;
}
.question-type-box-content.actived {
  cursor: inherit;
  transform: scale(1.02);
  box-shadow: 2px 10px 12px rgb(10 10 10 / 15%);
}
.question-type-box-content.actived .question-type-actived-arrow {
  display: block;
}
.question-type-box-content.actived .green-brid {
  display: block;
}
.question-type-box-content.actived .black-brid {
  display: none;
}
.question-type-box-content:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.question-info {
  background-color: #f6f7f8;
}
.question-info-title {
  width: 62.5vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.167vw;
  padding-bottom: 2.864vw;
  font-size: 1.667vw;
}
.question-info-title .title-text {
  line-height: 1.5;
  vertical-align: text-bottom;
}
ol.question-info-ol {
  list-style-type: inherit;
  margin-top: 1vw;
  line-height: 1.5;
  margin-left: 1.111vw;
}
.question-info ::marker {
  color: #cccccc;
}
.question-info-content-list {
  width: 62.5vw;
  margin-left: auto;
  margin-right: auto;
  height: 5vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.458vw;
  justify-content: space-between;
  margin-bottom: 1.667vw;
  cursor: pointer;
}
.question-info-content-list img {
  width: 1.667vw;
  height: 1.667vw;
  margin-right: 2.083vw;
  color: #cccccc;
}
.question-info-content-list .green-arrow {
  display: none;
}
.question-info-content-list:hover {
  transform: scale(1.02);
  transition: 0.5s;
  box-shadow: 2px 10px 12px rgb(0 178 169 / 15%);
}
.question-info-content-list:hover ::marker {
  color: #00b2a9;
}
.question-info-content-list:hover .green-arrow {
  display: inherit;
}
.question-info-content-list:hover .gray-arrow {
  display: none;
}
.title-reminder {
  display: inline-block;
  width: 4px;
  height: 1.667vw;
  background-color: #00b2a9;
}
.question-info-more-btn {
  height: 8.594vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-info-more-btn svg {
  display: none;
  cursor: pointer;
}

.question-info-more-btn svg:hover {
  transform: scale(1.02);
  transition: 0.5s;
  color: #00b2a9;
}
@media (max-width: 767.98px) {
  .top-banner-content {
    background-image: url("../images/FAQ-sc-1-mob-bg.png");
    height: 75.733vw;
  }
  .top-banner-text {
    font-size: 6.4vw;
  }
  .top-banner-content hr {
    width: 12.8vw;
    height: 0.266vw;
  }
  .question-type {
    margin: 8.667vw 2.4vw 6vw 2.4vw;
  }
  .question-type-box-content {
    width: 41.6vw;
    height: 21.333vw;
    margin: 2vw;
  }
  .question-type-box {
    height: 7.55vw;
    margin-top: 6.45vw;
  }
  .question-type-bird img {
    width: 6.4vw;
  }
  .question-type-box .question-type-text {
    width: 24.267vw;
    font-size: 3.2vw;
    margin-left: 2.666667vw;
  }
  .question-type-box-content.actived .question-type-actived-arrow {
    display: none;
  }
  .question-type-page-content {
    padding: 0.267vw 2.133vw 1.111vw 2.133vw;
    font-size: 3.733vw;
    margin: 2.778vw;
  }
  .question-info-title {
    width: 87.2vw;
    padding-top: 10.667vw;
    padding-bottom: 6.133vw;
    font-size: 4.267vw;
  }
  .title-reminder {
    width: 2px;
    height: 4.267vw;
  }
  .question-info-content-list {
    width: 87.2vw;
    min-height: 15.467vw;
    font-size: 3.733vw;
    height: auto;
    align-items: baseline;
    margin-bottom: 2.667vw;
  }
  .question-info-content-list li {
    /* padding-inline-start: 20px; */
    width: 64.533vw;
    margin-top: 4.8vw;
    margin-bottom: 5.6vw;
  }
  .question-info-content-list img {
    width: 4.267vw;
    height: 4.267vw;
    margin-right: 5.333vw;
  }
  ol.question-info-ol {
    padding-inline-start: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
