.faq-detail-container {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}
.top-banner-content {
  background-image: url("../images/FAQ-sc-1-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23.678vw;
  flex-direction: column;
}
.top-banner-text {
  line-height: 1.5;
  font-size: 2.5vw;
}
.top-banner-content hr {
  width: 5.208vw;
  height: 0.104vw;
}
.faq-detail-content {
  padding: 4.167vw 13.021vw 5.208vw 13.021vw;
  background-color: #f6f7f8;
}
.faq-detail-breadCrumbs {
  margin-bottom: 2.864vw;
}
.faq-detail-title {
  font-size: 1.667vw;
  line-height: 1.5;
  vertical-align: text-bottom;
}
.faq-detail-title a {
  color: #000;
}
.faq-detail-title-reminder {
  display: inline-block;
  width: 4px;
  height: 1.667vw;
  background-color: #00b2a9;
}
.faq-detail-text-content {
  background-color: #fff;
  padding: 4.167vw 6.25vw 4.167vw 5.208vw;
}
.faq-detail-text-header {
  font-size: 2.5vw;
  line-height: 1.5;
}
.faq-detail-text-body {
  margin-top: 2.5vw;
}
.faq-detail-text-body .faq-detail-text-title {
  font-size: 1.041vw;
}
.faq-detail-text-body ol {
  color: #7c7c7c;
  padding-left: 1vw;
  list-style-type: inherit;
  font-size: 1.041vw;
  line-height: 1.5;
}

.faq-detail-text-body ol li {
  margin-top: 0.781vw;
}
.faq-detail-text-body ::marker {
  color: #00b2a9;
}
.faq-detail-text-bottom {
  margin-top: 2.343vw;
  font-size: 1.041vw;
  line-height: 1.5;
}
.faq-detail-text-bottom span {
  color: #7c7c7c;
}
.faq-detail-footer {
  margin-top: 5.416667vw;
  background-color: #f6f7f8;
}
.faq-detail-footer {
  display: flex;
}
.faq-detail-footer .faq-detail-footer-img {
  padding: 2.656vw 0 6.09vw 3.646vw;
}
.faq-detail-footer .faq-detail-footer-img img {
  width: 1.77vw;
}
.faq-detail-footer-phoneType-list {
  padding: 2.656vw 0 1.511vw 2.083vw;
}
.faq-detail-footer-phoneType {
  display: inline-flex;
  padding: 0.625vw 1.365vw 0.825vw 1.354vw;
  border: 1px solid #7c7c7c;
  text-decoration: underline;
  color: #7c7c7c;
  border-radius: 3.25vw;
  margin-right: calc(1.041vw - 1px);
  margin-bottom: 1.041vw;
  font-size: 0.833vw;
  line-height: 1.5;
}
.faq-detail-footer-img-mob {
  display: none;
}
@media (max-width: 767.98px) {
  .top-banner-content {
    background-image: url("../images/FAQ-sc-1-mob-bg.png");
    height: 75.733vw;
  }
  .top-banner-content img {
    width: 12.8vw;
  }
  .top-banner-text {
    font-size: 6.4vw;
  }
  .top-banner-content hr {
    width: 12.8vw;
    height: 0.266vw;
  }
  .faq-detail-title-reminder {
    width: 2px;
    height: 4.267vw;
  }
  .faq-detail-title {
    font-size: 4.267vw;
  }
  .faq-detail-text-header {
    font-size: 5.333vw;
  }
  .faq-detail-content {
    padding: 10.667vw 6.4vw;
  }
  .faq-detail-text-content {
    padding: 8vw 5.333vw;
  }
  .faq-detail-text-body .faq-detail-text-title {
    font-size: 3.467vw;
  }
  .faq-detail-text-body ol {
    padding-left: 4vw;
  }
  .faq-detail-text-body ol li {
    margin-top: 3.467vw;
    font-size: 3.467vw;
  }
  .faq-detail-text-bottom {
    margin-top: 8.8vw;
  }
  .faq-detail-footer-phoneType {
    padding: 1.6vw 3.467vw 1.867vw 2.667vw;
    border: 0.5px solid #7c7c7c;
    border-radius: 6.25vw;
    margin-right: calc(2.133vw - 0.5px);
    margin-bottom: 2.133vw;
    font-size: 2.133vw;
  }
  .faq-detail-footer-img-mob {
    display: inline-block;
    width: 4.885333vw;
  }
  .faq-detail-footer-phoneType-list {
    padding: 5.333vw 1.333vw 5.333vw 5.333vw;
  }
  .faq-detail-footer-img {
    display: none;
  }
}
