body{
  margin: 0;
}
.faq-detail-container {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}
.br{
  height: 1.979vw;
  width: 100%;
}
.top-banner-content {
  background-image: url("../images/FAQ-sc-1-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23.678vw;
  flex-direction: column;
}
.top-banner-text {
  line-height: 1.5;
  font-size: 2.5vw;
}
.top-banner-content hr {
  width: 5.208vw;
  height: 0.104vw;
}
.faq-detail-content {
  padding: 4.167vw 13.021vw 5.208vw 13.021vw;
  background-color: #f6f7f8;
}
.faq-detail-breadCrumbs {
  margin-bottom: 2.864vw;
}
.faq-detail-title {
  font-size: 1.667vw;
  line-height: 1.5;
  vertical-align: text-bottom;
}
.faq-detail-title a {
  color: #000;
}
.faq-detail-title-reminder {
  display: inline-block;
  width: 4px;
  height: 1.667vw;
  background-color: #00b2a9;
}
.faq-detail-text-content {
  background-color: #fff;
  padding: 4.167vw 6.25vw 4.167vw 5.208vw;
}
.faq-detail-text-header {
  font-size: 2.5vw;
  line-height: 1.5;
}
.faq-detail-text-body {
  margin-top: 2.5vw;
}
.faq-detail-text-body .faq-detail-text-title1 {
  margin:2.34375vw 0 0.78125vw 0;
  font-size: 1.041vw;
}
.faq-detail-text-body .faq-detail-text-title2 {
  margin:2.083vw 0 0.78125vw 0;
  font-size: 1.041vw;
}
.faq-detail-text-body .faq-detail-text-title3 {
  margin:2.34375vw 0 2.34375vw 0;
  font-size: 1.041vw;
}
.faq-detail-text-body ol {
  color: #7c7c7c;
  padding-left: 1vw;
  list-style-type: inherit;
  font-size: 1.041vw;
  line-height: 1.5;
}

.faq-detail-text-body ol li {
  margin-top: 0.781vw;
}
.faq-detail-text-body ::marker {
  color: #00b2a9;
}
.faq-detail-text-bottom {
  margin-top: 2.343vw;
  font-size: 1.041vw;
  line-height: 1.5;
}
.faq-detail-text-bottom span {
  color: #7c7c7c;
}
.faq-detail-text-text{
  font-size: 1.041vw;
  line-height: 1.5;
  color: #7C7C7C;
}

@media (max-width: 767.98px) {
  .br{
    height: 6.133vw;
    width: 100%;
  }
  .top-banner-content {
    background-image: url("../images/FAQ-sc-1-mob-bg.png");
    height: 75.733vw;
  }
  .top-banner-content img {
    width: 12.8vw;
  }
  .top-banner-text {
    font-size: 6.4vw;
  }
  .top-banner-content hr {
    width: 12.8vw;
    height: 0.266vw;
  }
  .faq-detail-title-reminder {
    width: 2px;
    height: 4.267vw;
  }
  .faq-detail-title {
    font-size: 4.267vw;
  }
  .faq-detail-text-header {
    font-size: 5.333vw;
  }
  .faq-detail-content {
    padding: 10.667vw 6.4vw;
  }
  .faq-detail-text-content {
    padding: 8vw 5.333vw;
  }
 
  .faq-detail-text-body .faq-detail-text-title1 {
    margin:6.666vw 0 8.8vw 0;
    font-size: 3.467vw;
  }
  .faq-detail-text-body .faq-detail-text-title2 {
    margin:11.466vw 0 3.466vw 0 ;
    font-size: 3.467vw;
  }
  .faq-detail-text-body .faq-detail-text-title3 {
    margin:8.8vw 0 8.8vw 0;
    font-size: 3.467vw;
  }
  .faq-detail-text-body ol {
    padding-left: 4vw;
  }
  .faq-detail-text-body ol li {
    margin-top: 3.467vw;
    font-size: 3.467vw;
  }
  .faq-detail-text-bottom {
    margin-top: 8.8vw;
  }

}
