@media (max-width: 768px) {
  .support .header {
    background-image: url("../img/header-bg-mob.png");
    height: 75.733vw;
  }
  .support .header .header-content {
    top: 21.333vw;
    width: 53.333vw;
  }
  .support .header .header-content .logo {
    background-image: url("../img/header-logo-mob.png");
    width: 20.8vw;
    height: 20.8vw;
  }
  .support .header .header-content .title {
    font-size: 6.4vw;
  }
  .support .header .header-content .line {
    width: 12.8vw;
    height: 0.267vw;
    margin: 3.733vw auto 0;
  }
  .support .content .range {
    width: 87.2vw;
    height: 14.933vw;
    font-size: 3.467vw;
    line-height: 14.933vw;
    margin: 0 auto;
    border-bottom: 0.267vw solid #00B2A9;
  }
  .support .content .range .item {
    padding: 0 4.267vw 0 5.6vw;
  }
  .support .content .range .item::after {
    width: 0.267vw;
    height: 5.333vw;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .support .content .range .item:nth-of-type(1) {
    padding: 0 4.267vw 0 5.6vw;
  }
  .support .content .container {
    width: 87.2vw;
    padding: 0;
  }
  .support .content .container .product {
    padding: 5.333vw 0 5.333vw 5.333vw;
    height: 55.467vw;
    margin-top: 5.333vw;
  }
  .support .content .container .product .product-img {
    width: 34.667vw;
    height: 44.8vw;
  }
  .support .content .container .product .product-detail {
    margin-left: 8vw;
  }
  .support .content .container .product .product-detail .title {
    width: 25.266vw;
    font-size: 4.267vw;
    margin-top: 5.333vw;
  }
  .support .content .container .product .product-detail .title-s {
    font-size: 3.2vw;
    margin-top: 3.467vw;
  }
  .support .content .container .product .product-detail .download {
    font-size: 2.4vw;
    width: 21.6vw;
    height: 7.467vw;
    line-height: 7.467vw;
    padding-left: 7.467vw;
    background-size: 3.2vw 3.2vw;
    background-position: 3.2vw center;
    margin-top: 13.333vw;
    min-width: 100px;
    position: absolute;
    bottom: 5.066vw;
  }
  .support .content .container .more .more-icon {
    width: 4.267vw;
    height: 3.733vw;
  }
}
