.hide{
    display: none;
}
.show{
    display: block;
}
.importanthide{
    display: none !important;
}
.support{
    & .header{
        width: 100%;
        height: 23.958vw;
        background-image: url('../img/header-bg.png');
        background-size: cover;
        position: relative;
        & .header-content{
            width: 20vw;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 6.666vw;
            & .logo{
                background-image: url('../img/header-logo.png');
                display: block;
                width: 5.729vw;
                height: 5.729vw;
                margin: 0 auto;
                background-size: cover;
            }
            & .title{
                text-align: center;
                text-align: 2.5vw;
                line-height: 1.5;
            }
            & .line{
                width: 5.208vw;
                height: 0.104vw;
                background: #CCCCCC;
                margin: 1.458vw auto 0;
            }
        }
    }
    & .content{
        & .range{
            width: 79.167vw;
            margin: 3.125vw auto 0;
            font-size: 1.25vw;
            display: flex;
            border-bottom: 0.104vw solid #00B2A9;
            & .item{
                padding: 0 2.604vw 1.354vw 2.083vw;
                position: relative;
                color: #000;
                cursor: pointer;
            }
            & .item.active{
                color: #00B2A9;
            }
            & .item:hover{
                color: #00B2A9;
            }
            & .item::after{
                display: block;
                content: '';
                width: 0.104vw;
                height: 1.667vw;
                position: absolute;
                right: 0;
                top: 0.104vw;
                background: #CCCCCC;
            }
            & .item:nth-of-type(1){
                padding: 0 2.604vw 1.354vw 1.042vw;
            }
            & .item:last-child::after{
                width: 0;
                height: 0;
            }
        }
        & .container{
            width: 83.333vw;
            margin: 0 auto;
            padding: 0 2.604vw;
            box-sizing: border-box;
            & .product{
                padding: 1.771vw 0 1.771vw 1.302vw;
                display: flex;
                height: 16.667vw;
                margin-top: 3.125vw;
                & .product-img{
                    width: 9.948vw;
                    height: 13.125vw;
                }
                & .product-detail{
                    margin-left: 2.5vw;
                    position: relative;
                    & .title{
                        margin-top: 1.302vw;
                        font-size: 1.25vw;
                        line-height: 1.5;
                        width: 7.291vw;
                    }
                    & .title-s{
                        margin-top: 1.25vw;
                        font-size: 0.833vw;
                        line-height: 1.5;
                        color: #999999;
                    }
                    & .download{
                        width: 6.979vw;
                        height: 2.188vw;
                        line-height:  2.188vw;
                        color: #999;
                        background-color: #fff;
                        border: 1px solid #999;
                        border-radius: 999px;
                        margin-top: 4.323vw;
                        padding-left: 2.604vw;
                        background-image: url('../img/download.png');
                        background-size: 1.042vw 1.042vw;
                        background-repeat: no-repeat;
                        background-position: 1.042vw center;
                        min-width: 105px;
                        cursor: pointer;
                        position: absolute;
                        bottom: 1.302vw;
                    }
                    & .download:hover{
                        background-color: #00B2A9;
                        color: #fff;
                        border: none;
                        background-image: url('../img/download-active.png');
                    }
                }
            }
            
        }
        .more{
            width: 100%;
            text-align: center;
            & .more-icon{
                width: 1.458vw;
                height: 1.302vw;
                margin: 3.125vw auto 8.333vw;
                cursor: pointer;
            }
        }
        
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1920px;
    }
}